*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    border: 5px solid black;
    font-family: sans-serif !important;
    line-height: 1.4;
    width: 850px;
    margin: 50px auto;
    position: relative;
}

.headline{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px !important;
    padding: 15px;
    font-family: sans-serif;
    text-align: center !important;
   
}
#first {
    background-color: rgb(248, 242, 242);
    width:840px !important;
}
.shipping{
    text-transform: uppercase;
    color: rgba(103, 101, 101, 0.644) !important;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top:0;
    position: absolute;
    display: inline-block;
    left:400px;
    top:105px;    
}
.SALE{
    background-color: red;
    color:white !important;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: -17px;
    left: -35px;
    letter-spacing: 3px;
}
.Important{
   border-bottom: 10px;
   margin-top: 10px;
}
.container-2{
    padding: auto;
border: 20px 20px;
}
.strong{
    font-size: 25px ;
    margin:0;
    padding:0;
}
.button-classic{
    text-transform:uppercase;
    background-color: black !important;
    color: white !important;
    border: none;
    font-size: 20px;
    width:840px !important;
    padding-bottom: 10px;
}
.more-info{
    color: black!important;
}
.more-info:hover{
text-decoration: none;
color: red !important;
/*margin-bottom: 15px;*/
}
a.hover{
    text-decoration: none;
    color: red !important;
    font-size: 50px !important;
    cursor: pointer;
}
.button-classic:hover{
    background-color:white !important;
    color: black!important;
}
.container{
    width: 850px;
    padding: auto !important;
    margin: auto !important;
}
.button-classic{
    width:850px;
    margin:0;
    padding:20px;
}
.details-list li{
    margin: 15px !important;
}
.button-classic:hover{
    border-top:5px solid black !important;
}
.Red{
    background-color: red; height: 20px; width: 20px; display: inline-block;margin-right: 10px;
}
.Blue{
background-color: blue; display: inline-block;height: 20px; width: 20px; margin-right: 10px;
}
.Green{
     background-color: green; 
    display: inline-block;
    height: 20px;
     width: 20px; 
     margin-right: 10px;
    }
.Yellow{
    background-color: yellow ;
     display: inline-block;
     height: 20px; 
     width: 20px;
     margin-right: 10px;
     }
.Brown{
    background-color: brown; 
    display: inline-block;
    height: 20px;
     width: 20px;
     margin-right: 10px;
    }
.Black{
    background-color: black;
    display: inline-block;
    height: 20px;
     width: 20px;
     margin-right: 10px;
    }
.more-info{ 
    display: inline-block; 
    margin-bottom: 10px;
}

.container-style{
    float: left;
    width: 230px;
    margin-left: 40px;
    margin-right: 40px;
}
.container-3{
    float: left;
    width: 230px;
    margin-right:0;
    margin-top: 5px;
    position: absolute;
    right: 0;
    top:90px;
 }
 .product-image{
    float: left;
 }
 .details-list{
    font-size: 15px;
 }